<?xml version="1.0" encoding="utf-8"?>
<configuration version="3.0.0">
  <connect name="MCC">
    <server address="mcc.schubergphilis.com" secureport="443" unsecureport="80" usessl="True" />
    <authentication api="z4wG0IIh8pT-QShfhGHSSydHGKMZAhy_dnXCSWOGD7-55qV4ExMtoaaQ2F_1Qz1gTLbIjtDw0c4MYcxshCh2YQ" key="m6d42_0GD2si7OncgcU5x2cWoY35-J6WR-NQb31Y9SVfFCj7zNW3h0wmTXQtDpLz6bIUO8dvCk9z2bO5QuwFxg" />
  </connect>
  <connect name="MCCX">
    <server address="betacloud.mccx.schubergphilis.com" secureport="443" unsecureport="80" usessl="True" />
    <authentication api="fZQ5eUSXBWWnpS5fkLMZaQFLr2grcivj2MbGPfgX9kti4nZmE1EtXWZ1tGd7dOsQt3Haue0Q0nORzJMeC8GInQ" key="C_b3AZqNseTlZ2owcbOtQ3YZMXsvHJBiKLmJDfef_GyniNWTcDAtBKlKKhNfx_VeJ9HOs8VmPF4Yh91zan-7bQ" />
  </connect>
</configuration>